@tailwind base;
@tailwind components;
@tailwind utilities;

.app-dark {
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
  color: rgb(243 244 246 / var(--tw-text-opacity, 1)) !important;
}

.app-light {
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
  color: rgb(17 24 39 / var(--tw-text-opacity, 1)) !important;
}
